footer
    div(class='footer')
        p Want to see more of our work?
        a(href='/users/register' id="noAccount") Anthony T.'s Github
        a(href='/users/register' id="noAccount") Andy V.'s Github
        a(href='/users/register' id="noAccount") Andy V.'s Github
        a(href='/users/register' id="noAccount") Andy V.'s Github