extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

//- CHANGE button onclick location & dry container3!!!!!!!!!!!!!!!!!!!!!!!!!!!
block content
  div(class='container1')
    img(id='title' src='../images/Title.png')
  div(class='container2')
    img(id='chevron' src='../images/bi_chevron-double-down.png')


  div(class='container3')

   div(class='post-images')
        if posts
            div(class='row')
                each post in posts
                    each image in post.Images
                        div(class='column')
                            a(href="/posts/" + post.id)
                                img(class='car_img' src=image.path)
        else
            div
                h3 You have no posts
                p Why don't you go and #[a(href="/posts/new") make one]!
