extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

//- CHANGE button onclick location!!!!!!!!!!!!!!!!!!!!!!!!!!!
block content
  div(class='container1')
    img(id='title' src='../images/Title.png')
    button(onclick="window.location='/users/login'") FIND YOUR CAR
  div(class='container2')
  div(class='container3')
    img(id='chevron' src='../images/bi_chevron-double-down.png')
