doctype html
html
  head
      block head
        title Cardar - #{title}
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/user-profile.css')
        link(rel='stylesheet' href='/stylesheets/nav-bar.css')
        link(rel='stylesheet' href='/stylesheets/post-page.css')
  body
  header
    nav(class='nav-bar')
      div(class='left')
        a(href='/'): img(class='cardar-logo' src='../images/Cardar_white.png' )
        a(href='/'): img(id='cardar-logo-name' src='../images/CARDAR_small.png' )
      form(action="/search" class="search-form")
        input(type="search" name="searchedInput" class='input-value' placeholder="Find your car" required)
        button(type="submit" class='search-button'): img(class='magnifying-search' src='../images/magnifying-glass-icon-simple-grey-search-icon-icons-logos-emojis-search.png')
      div(class='right')
        if locals.authenticated
          a(href=`/users/${user.id}` class='user-profile-icon'): img( src='../images/user-profile-icon.png' width='50px' height='50px')
          a(href=`/posts/new` class='add-post-icon'): img( src='../images/add-post-icon.png' width='30px' height='25px')
          div.logout-div
            form(class='logout-btn' action='/users/logout' method='post')
              button(class='logout-btn' href='/users/logout') Logout
        else
          div(class='user-auth')
            a(class='nav-btn' href='/users/register'): p(class='user-auth-text') REGISTER
            a(class='nav-btn' href='/users/login'): p(class='user-auth-text') LOGIN
    block content
