extends layout.pug

append head
    link(rel='stylesheet' href='/stylesheets/new-post.css')

include utils.pug

block content
    div(id='add-post-ctn')
        +validationErrorSummary(errors)
        form(action='/posts/new' class='new-post-form' method='post')
            input(type='hidden' name='_csrf' value=csrfToken)
            +field('', 'name', post.name, 'text', 'NAME', required)
            +field('', 'make', post.make, 'text', 'MAKE', required)
            +field('', 'model', post.model, 'text', 'MODEL', required)
            +field('', 'year', post.year, 'number', 'YEAR', required)
            +field('', 'color', post.color, 'text', 'COLOR', required)
            +field('', 'accidents', post.accidents, 'number', 'ACCIDENTS', required)
            +field('', 'features', post.features, '', 'FEATURES', required)
            +field('', 'path', image.path, 'text', 'INSERT AN HTTP LINK', required)
            +field('', 'description', post.description, 'textarea', 'DESCRIPTION', required)
            .bottom-div
                div.cancel-div
                    a(href=`/users/${userId}` class='cancel-button') CANCEL
                div.add-post-div
                    button(type='submit' class='add-post-btn') POST
