extends layout.pug

block content
    if posts
        each post in posts
          div(class='row')
            div(class='column')
              a(href="/posts/" + post.id)
              img(class='car_img' src='../images/Lambo_yellow.png')
    else
      div
        h3 You have no posts
        p Why don't you go and #[a(href="/posts/new") make one]!
