extends layout.pug 

include utils.pug 

block content 
    form(action="/search")
        input(type="search" name="searchedInput" placeholder="Search" required)
        button(type="submit") Find your car
