extends layout.pug

append head
    link(rel='stylesheet' href='/stylesheets/search-result.css')

block content
    div(class='post-images')
        if posts.length !== 0
            div(class='heading-container')
                h1 #{posts.length} Results:
            div(class='row')
                each post in posts
                    each image in post.Images
                        div(class='column')
                            a(href="/posts/" + post.id)
                                img(class='car_img' src=image.path)
        else
            .zero-results
                h1 0 results found for '#{req.query.searchedInput}'
            .zero-results-subhead
                p(class='zero-subhead') Sorry we couldn't find what you were looking for.
                p(class='zero-subhead') Please try searching for another car.
