extends layout.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/user-register.css")



include utils.pug

block content
    div(class='container1')
        div(class='register-error-div')
            +validationErrorSummary(errors)
        form(action='/users/register' method='post' class='register-form')
            input(type='hidden' name='_csrf' value=csrfToken)
            label(id="newMember") USER REGISTRATION
            +field('', 'username', user.username, '', 'USERNAME')
            +field('', 'firstName', user.firstName, '', 'FIRST NAME')
            +field('', 'lastName', user.lastName, '', 'LAST NAME')
            +field('', 'email', user.email, '', 'EMAIL')
            +field('', 'password', user.password, '', 'PASSWORD')
            +field('', 'confirmPassword', '', '', 'CONFIRM PASSWORD')
            +field('', 'state', user.state, '', 'STATE')
            button(type='submit' class='register-btn') REGISTER
            a(href='/users/login' id='haveAccount') ALREADY HAVE AN ACCOUNT?
