extends layout.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/user-login.css")

  //- add page specific js
//-   script(src="/javascripts/index.js" type="module" defer)

include utils.pug

block content
    +validationErrorSummary(errors)
    div(class="container")
        form(action='/users/login' method='post' class='login-form')
            input(type='hidden' name='_csrf' value=csrfToken)
            label(id="member") MEMBER LOGIN
            input(type='email' name='email' placeholder="EMAIL ADDRESS" class='form-control')
            input(type='password' name='password' placeholder="PASSWORD" class='form-control')
            button(type='submit' class='login-form-btn' id="signIn") SIGN-IN
            a(href='/users/1' class='login-form-btn' id="demo") DEMO USER
            a(href='/users/register' id="noAccount") DON'T HAVE AN ACCOUNT?
