extends layout.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/user-register.css")



include utils.pug

block content
    +validationErrorSummary(errors)
        
    form(action='/users/register' method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        label(id="newMember") USER REGISTRATION
        +field('', 'username', placeholder="USERNAME", user.username)
        +field('', 'firstName',  placeholder="FIRST NAME", user.firstName)
        +field('', 'lastName',  placeholder="LAST NAME", user.lastName)
        +field('', 'email',  placeholder="EMAIL ADDRESS", user.email)
        +field('', 'password', user.password, placeholder="EMAIL ADDRESS", 'PASSWORD')
        +field('', 'confirmPassword', '', placeholder="EMAIL ADDRESS", 'CONFIRM PASSWORD')
        +field('', 'state', placeholder="STATE", user.state)
        button(type='submit' class='register-form-btn' class='register-btn') Register
        p: a(href='/users/login' id='haveAccount') Already have an account?
