footer {
    display: grid;
    text-align: center;
    position: relative;
    bottom: 0px;
    grid-template-rows: 10vh;
}

.foot {
    background-color: rgba(196,196,196,1);
    font-family: 'Karla';
    color: black;
    font-size: 20px;
    grid-row: 1;
    min-height: 75px;
    border-top: 2px solid white;
}

.foot > a {
    font-family: 'Karla';
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding-left: 50px;
    padding-right: 50px;
}

.foot > a {
    
}

header{
    min-height: 90vh;
}

