#title {
    width: 70%;
}

div.container1 {
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center
}

#chevron {
    height: 100px;
    width: 100px;
    position: relative;
    margin-top: 0px;
    left: 50%;
    transform: translate(-50%,100%);
}

div.container2 {
    position: relative;
    height: 32em;
}


.column {
    display: inline flex;
    padding: 25px;
}

.car_img {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    border-radius: 5em;
    width: 500px;
    height: 300px;
    margin-left: 175px;
}
