.nav-bar {
    height: 65px;
    width: auto;
    /* position: sticky; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
  }

.left {
    display: flex;
    overflow: hidden;
    flex-direction: row;
    justify-content: flex-start;
    left: 1.5em;
    width: 325px;
    height: auto;
    padding-left: 20px;
}

.cardar-logo {
    display: flex;
    align-items: center;
    height: 25px;
    padding-right: 10px;
}

#cardar-logo-name {
    display: flex;
    align-items: flex-start;
    padding-top: 8px;
    width: 150px;
}

.right {
    display: flex;
    overflow: hidden;
    flex-direction: row;
    justify-content: flex-end;
    width: auto;
    padding: 20px;
}

.search-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: auto;
}

input {
    width: 200px;
    height: 40px;
    border: 1px solid rgba(196, 196, 196, 1);
    border-radius: 40px 0 0 40px;
}

input::placeholder {
    padding-left: 20px;
}

.search-button {
    width: 50px;
    height: 40px;
    border: 1px solid rgba(196, 196, 196, 1);
    border-radius: 0 40px 40px 0;
    padding-right: 6px;
}

button img {
    width: 21px;
    height: 21px;
}

.user-auth {
    display: flex;
    justify-content: space-around;
    width: 250px;
    height: 40px;
    padding: 5px 10px;
}

.nav-btn {
    border-radius: 30px;
    display: inline-flex;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    padding: 5px 10px;
    width: 100px;
    background-color: rgba(196, 196, 196, 1);
    border: 1px solid rgba(196, 196, 196, 1);
    color: black;
}

.nav-btn p {
    display: flex;
    justify-content: center;
    align-items: center;
}
