.nav-bar {
    height: 65px;
    width: auto;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    z-index: 3;
  }

.left {
    display: flex;
    overflow: hidden;
    flex-direction: row;
    justify-content: flex-start;
    left: 1.5em;
    width: 255px;
    height: auto;
    padding-left: 20px;
}

.cardar-logo {
    display: flex;
    align-items: center;
    height: 25px;
    padding-right: 10px;
}

#cardar-logo-name {
    display: flex;
    align-items: flex-start;
    padding-top: 8px;
    width: 150px;
}

.right {
    display: flex;
    overflow: hidden;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
    width: auto;
    padding: 20px;
}

.search-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: auto;
}

.input-value {
    width: 200px;
    height: 40px;
    border: 1px solid rgba(196, 196, 196, 1);
    border-radius: 40px 0 0 40px;
    padding-left: 20px;
}

.search-button {
    width: 50px;
    height: 40px;
    border: 1px solid rgba(196, 196, 196, 1);
    border-radius: 0 40px 40px 0;
    padding-right: 6px;
    cursor: pointer;
}

/* .magnifying-search {

} */

button img {
    width: 21px;
    height: 21px;
}

.user-profile-icon,
.add-post-icon,
.logout-div {
    display: flex;
    align-items: center;
}

.user-profile-icon > img {
    width: 35px;
    height: 35px;
}

.add-post-icon > img {
    /* padding-top: 12px; */
    width: 25px;
    height: 25px;
}

.logout-div {
    /* padding-top: 15px; */
    width: 115px;
}

button.logout-btn,
form.logout-btn {
    height: 30px;
    display: flex;
    align-items: center;
}

button > .logout-btn {
    width: 90px;
}

.user-auth {
    display: flex;
    justify-content: space-between;
    width: 215px;
    height: 40px;
    padding: 5px 10px;
}

.nav-btn,
.logout-btn {
    border-radius: 30px;
    display: inline-flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 10px;
    width: 90px;
    height: 30px;
    background-color: rgba(196, 196, 196, 1);
    border: 1px solid rgba(196, 196, 196, 1);
    color: black;
    transition: all 0.2s ease-in;
}

.logout-btn:hover,
.nav-btn:hover {
    background-color: rgb(127, 127, 127);
    border: 1px solid rgb(127, 127, 127);
    color: white;

}
