.nav-bar {
    height: 65px;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* line-height: 4em; */
    /* flex-grow: 1; */
    background-color: black;
  }

.left {
    display: flex;
    overflow: hidden;
    flex-direction: row;
    justify-content: flex-start;
    left: 1.5em;
    width: 200px;
    height: auto;
    padding-left: 20px;
}

.cardar-logo {
    display: flex;
    align-items: center;
    height: 25px;
    padding-right: 10px;
}

#cardar-logo-name {
    display: flex;
    align-items: flex-start;
    padding-top: 8px;
}

.right {
    display: flex;
    overflow: hidden;
    flex-direction: row;
    justify-content: flex-end;
    left: 1.5em;
}

.search-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    height: 30px;
    padding-top: 5px;
}

.user-auth {
    display: flex;
    justify-content: flex-end;
    width: 100px;
    height: 82px;
    padding-right: 20px;
}

.nav-btn {
    border-radius: 30px;
    text-decoration: none;
    font-size: 12px;
    padding: .2rem .2rem;
    background-color: rgba(196, 196, 196, 1);
    border: 1px solid rgba(196, 196, 196, 1);
    color: black;
}
