#add-post-ctn {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 20px 0;
    height: 1000px;
}

#add-post-ctn,
.new-post-form,
.add-post-errors {
    display: flex;
    align-items: center;
    width: auto;
    flex-direction: column;
}

.new-post-form,
.add-post-errors {
    background-color: #C4C4C4;
    width: 700px;
    padding: 10px 0;
    border-radius: 30px;
}

.add-post-errors {
    background-color: rgb(229, 135, 135);
}

.new-post-form > .form-group {
    display: flex;
    justify-content: center;
    padding: 5px 0;
    width: 400px;
}

.form-group > .flow-control {
    width: 400px;
}

.form-group > #description {
    width: 400px;
    height: 200px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.bottom-div {
    width: 400px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.cancel-button,
.add-post-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 90px;
    font-size: 16px;
    font-weight: bold;
}

.cancel-button {
    background-color: rgb(229, 135, 135);
    color: black;
    text-decoration: none;
    border: 1px solid rgb(229, 135, 135);

}

.add-post-btn {
    border: 1px solid rgb(137, 248, 137);
    background-color: rgb(137, 248, 137);
}
