

.profile-block {
    color: white;
    font-family: 'Karla', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 580px;
    height:540px;
    display: block;
    border: 2px solid white;
    border-radius: 50px;
    background-color: #C4C4C4;
}
div.upper-block{
    display: flex;
    align-items: flex-start;

}

.carImage {
    margin: 3px;
    height: 250px;
    width: 250px;
    border: 2px solid white;
    border-radius: 50px;
}

.make_mod_yr {
    height: 200px;
    width: 200px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.left-align, .left-alignPre {
    font-size:xx-large;
    padding-top: 5px;
    margin-top: 20px;
    width: 220px;
    font-weight: bold;
    color: black;
    background-color: rgba(0,0,0,0.0);
    border: 1px solid rgba(0,0,0,0.0);
    cursor: pointer;
}
.left-align:hover {
    color: grey;
}



div.lower-block {
    display: block;
}


.desc_box, .description, .desc_boxAfter {
    cursor: pointer;
    font-size: x-large;
    font-weight: 500;
    color: black;
    text-align: center;
    background-color: #C4C4C4;
    border: 1px solid #C4C4C4;
    border-radius: 20px;
    transition-duration: 0.4s;
}

.desc_boxAfter:hover{
    background-color: rgba(0,0,0,0.24);
}


.accidents {
    text-align: center;
    font-size:medium;
    padding-top: 1.5em;
    color: black;
}
#number, #numbEd {
    color: black;
    width:35px;
    text-align: center;
    font-weight: 500;
    cursor: pointer;

}


div.comment_box {
    border: 1px solid black;
    border-radius: 20px;
    margin: 10px;
    overflow-y: scroll;
    padding: 10px;
}



.comment_label {
    color: black;
}
.comments {
    text-decoration: none;
    margin: 5px;;
    color: white;
    border: 1px solid grey;
    background-color: rgba(0,0,0,0.19);
}

.buttons {
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.spacer {
    width: 50px;
}


.edit-btnX, .delete-btnX, .update-btnX {
    font: "Karla";
    cursor: pointer;
    border-radius: 10px;
    height:40px;
    width: 150px;
    text-decoration: none;
    font-size: 12px;
    padding: 5px 10px;
    border: 2px solid black;
    transition-duration: 0.4s;
}

.edit-btnX, .update-btnX {
    background-color: #4c4e54;
    color: white;
}
.edit-btnX:hover, .update-btnX:hover {
    box-shadow: 0 0 4px 4px rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    color: red;
}

.delete-btnX {
    background-color: red;
    color: white;
}
.delete-btnX:hover {
    box-shadow: 0 0 4px 4px rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    color: black;
}
