.heading-container {
    display: flex;
    flex-direction: column-reverse;
    width: 600px;
    height: 200px;
    padding-left: 100px;
}

h1 {
    color: white;
    font-size: 48px;
    border-bottom: 1px solid white;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.column {
    padding: 50px;
}

.car_img {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    border-radius: 5em;
    width: 500px;
    height: 300px;
}
