.profile-wrapper {
    color: black;
    font-family: 'Karla';
    border: 2px solid white;
    border-radius: 30px;
    background-color: rgba(196,196,196,1);
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 15px;
}

.profile-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

* {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color:aliceblue
}

.bio, .email, .state, .member {
    margin-top: 25px;
}

.bio h3,
.email h3,
.state h3,
.member h3 {
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.bio p,
.email p,
.state p,
.member p {
    padding: 10px;
}

.posts-wrapper {
    display: flex;
    justify-content: flex-start;
    justify-content: baseline;
    padding-top: 30px;

}

.posts-wrapper h2 {
    border-right: 1px solid white;
    padding-right: 5px ;
}

.post-block {
    border-radius: 5px;
    padding: 20px;

}

.car_img_user_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    border-radius: 5em;
    width: 50px;
    height: 50px;
    margin-top: 5px;
}

.profile-wrapper h1 {
    padding-bottom: 15px;
    text-align: center;
}


.edit-user, 
.cancel-edit, 
.update-user {
    margin-top: 25px;
    width: 20%;
    /* width: 270px; */
    padding: 12px;
    /* display: flex; */
    /* margin: auto; */
    border: 2px solid black;
    border-radius: 10px;
    background-color: #4c4e54 ;
    color: #fff;
}

.button-form-edit {
    display: flex;
    margin: auto;
    justify-content: center;  
    align-items: center;  
}

.error-messages {
    background-color: rgb(229, 135, 135);
    margin: 40px 0 60px 0;
    width: 350px;
    border-radius: 20px;
}

.error-messages > p,
.error-messages > ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.error-messages > p {
    padding: 20px 0 0 40px;

}

.error-messages > ul {
    padding: 20px 0 20px 40px;

}

.form-edit-user {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;  
    align-items: center; 

}

.form-edit-user label {
    font-size: larger;
}

.form-control {
    width: 270px;
    padding: 12px 20px;
    margin: 10px 65px;
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
}


.cancel-edit, 
.update-user {
    display: inline-block;
    margin: 0 auto;
}
