#title {
    width: 70%;
}

.container1 {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

form {
    font-family: 'Karla';
    border: 2px solid white;
    height: 550px;
    width: 400px;
    border-radius: 30px;
    background-color: rgba(196,196,196,1);

}

.form-control, .register-btn  {
    width: 270px;
    padding: 12px 20px;
    margin: 5px 60px;
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
}

.register-btn[type=submit] {
    background-color: #4c4e54 ;
    color: #fff;
}

#newMember {
    font-weight: 500;
    font-size: 32px;
    letter-spacing: 0.1em;
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

a#haveAccount {
    margin-left: 77px;
    color: black;
    text-decoration: none;
}